.button {
  height: 3rem;
  font-size: 1.2rem;
  border: 2px solid black;
  padding: 0.25em 1em;
  cursor: pointer;
  background-color: var(--clr-primary-200);
  border-radius: 4px;
  user-select: none;
}

.button:hover {
  background-color: var(--clr-secondary-150);
  color: white;
}

.button:focus {
  background-color: var(--clr-secondary-150);
  outline: none;
  color: white;
}
